<form>
  <div class="input-group">
    <p>
      <label for="initialInvestement">Initial investement</label>
      <input type="number" id="initialInvestement" [value]="initialInvestment()"/>
    </p>
    <p>
      <label>Annual investement</label>
      <input type="number" [value]="annualInvestment()"/>
    </p>
  </div>
  <div class="input-group">
    <p>
      <label>Expected return</label>
      <input type="number" [value]="expectedReturn()"/>
    </p>
    <p>
      <label>Duration</label>
      <input type="number" [value]="duration()"/>
    </p>
  </div>
  <p class="input-group">
    <button type="submit" (click)="onCalculate">Calculate</button>
  </p>
</form>
